*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  background-color: white;
  width: 450px;
  border: none;
  border-radius: 10px;
  padding: 30px;

}

.card p{
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
  font-size: 20px;
  font-family: monospace;
}

.card p span {
  color: royalblue;
  font-weight: 600;
}

.outer {
  height: 20px;
  width: 100%;
  background-color: grey;
  border-radius: 50px;
}

.inner{
  height: 100%;
  width: 0%;
  background-color: green;
  border-radius: 50px;
}

.button {
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;

}

.button button{ 
  padding: 12px 25px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;

}

.button h2 {
  font-size: 60px;
  font-family: monospace;
}


