*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 400px;
  background-color: brown;
  padding: 20px;
  border-radius: 15px;
  position: absolute;
}

.card div {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card img{
  width: 100%;
  height: 430px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 15px;
}

.card h1{
  font-size: 40px;
  text-align: center;
  font-weight: 800;
  color: white;
}

.card i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 90px;
  opacity: 0;
  background-image: url(https://img.freepik.com/free-vector/instagram-background-gradient-colors_23-2147819865.jpg?semt=ais_hybrid&w=740&q=80);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: translate(-50%, -50%) scale(0) rotate(-60deg);
  transition: all cubic-bezier(.75,.99,.77,1.44) 0.4s;
}



